<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Katuma!</a>
  </div>
  <div class="collapse navbar-collapse" id="js-nav-buttons">
    <button type="button" id="js-login-button" class="btn btn-default navbar-btn navbar-right">Log in</button>
    <button type="button" class="btn btn-default navbar-btn navbar-right">Sign up</button>
  </div>
</div>
