<form id="login-form" class="navbar-form navbar-right" role="login" action="api/v1/sessions" method="post">
  <div class="form-group">
    <input type="text" id="email" class="form-control" name="email" placeholder="Email" />
    <input type="password" id="password" class="form-control" name="password" size="40" />
  </div>
  <button type="submit" id="loginSubmit" class="btn btn-default">Login</button>
</form>
